<!DOCTYPE html>
<html style="background-color: #141518;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        #terminal-container {
            color: #f2f2f2;
            font-family: monospace;
        }

        p {
            line-height: 25px;
            display: contents;
        }
    </style>
</head>

<body>

    <div id="terminal-container">

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/javascript/logs.js">

    </script>

</body>

</html>